
/* Style sheet
   color picker www.w3schools.com/colors/colors_picker.asp
*/

/* Bootstrap default font-family is Helvetica Neue */
h1 {
  font-family: "Times New Roman", Times, serif;
  text-shadow: 3px 3px 1px black;
  
}

.myfooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 3px;
  background-color: darksalmon;
  font-style: italic;
  font-family:'Monotype Corsiva','Apple Chancery','ITC Zapf Chancery','URW Chancery L',cursive;
}

