/* stylesheet.css */
body {
  background-color: powderblue;
}
h1 {
 color: blue;
 text-align: center;
 font-family: "Lucida Console";
 border: 1px solid blue;
}
h2 {
 color: black;
 text-align: center;
 font-family: "Lucida Console";
}
p {
 color: black;
 text-align: center;
}
