/* stylesheet.css */
body {
 background-color: lightblue;
 color: #FFFFFF;
}
h1 {
 color: #FFFF33;
 text-align: center;
 font-family: "Lucida Console";
 font: italic 200%;
}
p {
 background-color: #FFFF33;
 color: #333300;
 text-align: right;
 border: 3px groove #FFFF33;
}
