/* stylesheet.css */
body {
  background-color: powderblue;
}
h1 {
 color: blue;
 text-align: center;
 font-family: URW Chancery L cursive;
 border: 1px solid blue;
}
h2 {
 color: black;
 text-align: center;
 font-family: "Lucida Console";
}
p {
 color: black;
 text-align: center;
}
a {
 text-align: center;
}
img {
 text-align: center;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
