/* stylesheet.css */
body {
  background-color: lightgray;
  text-align: center;
}
h1 {
  margin: 10px;
  padding: 5px;
}
h2 {
 margin: 4px;
 font-size: 90%;
 font-family: "Lucida Console";
}
div {
 text-align: center;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 3px;
  background-color: darksalmon;
}
