/* stylesheet.css */
body {
  background-color: beige;
  text-align: center;
}
h1 {
  margin: 10px;
  padding: 5px;
  border: 3px solid tomato;
  border-radius: 5px;
  font-family: "Times New Roman";
  font-variant: small-caps
}
h2 {
 margin: 4px;
 padding: 5px;
 font-size: 90%;
 font-family: "Lucida Console";
 text-decoration: underline;

}

h3 {
 margin: 4px;
 padding: 5px;
 font-family: "Lucida Console";
}

border{
  border: 1px solid lightsteelblue;
  border-radius: 5px;
}
 

likert {
  float: left;
  list-style-type: none;
}

div {
 text-align: center;
}

form {
  border: 1px solid lightsteelblue;
  border-radius: 5px;
  background-color: lightsteelblue;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 3px;
  background-color: darksalmon;
}
