/* stylesheet.css */
body {
  background-color: lightblue;
}
h1 {
 color: black;
 text-align: center;
 font-family: "Lucida Console";
 font: italic 200% fantasy;
 border: 3px groove red;
}
h2 {
 color: black;
 text-align: center;
 font-family: "Lucida Console";
}
p {
 color: black;
 text-align: center;
}
